@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #FAEEC9;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #94D2BD 0%, #005F73 179.25%);
}

.progress {
  background: linear-gradient(90deg, #E9D8A6 0%, #CA6702 179.25%);
}

.done {
  background: linear-gradient(90deg, #CA6702 0%, #AE2012 179.25%);
}

.hold {
  border: 5px solid #F8DB92;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #F7967D;
}